* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}
.editor {
  width: 100%;
  height: 100vw;
  margin: 0 auto;
  display: flex;
  content: '';
}
.leftPanel {
  height: 100%;
  width: 120px;
  background: linear-gradient(to bottom, #efefef 0%, #d6d6d6 100%);
  border-right: 1px solid #9c9c9c;
}
.rightPanel {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #d4e4ef 0%, #86aecc 100%);
  position: relative;
}
.designer {
  position: relative;
}
.tool {
  padding: 2px;
  margin: 12px auto;
  height: 30px;
  line-height: 30px;
  background: white;
  cursor: pointer;
  opacity: 0.7;
  border-top: 1px solid #c6c6c6;
  border-bottom: 2px solid #c6c6c6;
  color: #262626;
}
.tool span {
  margin-left: 3px;
  margin-right: 3px;
}
.tool:hover {
  opacity: 1;
}
.upperMenu {
  background: linear-gradient(to right, #efefef 0%, #d6d6d6 100%);
  text-align: center;
  border-bottom: 2px solid #c6c6c6;
  float: left;
  width: 100%;
}
.upperMenu > div {
  float: left;
  width: 120px;
  border-right: 1px solid #ddd;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.8s;
}
.upperMenu > div:hover {
  box-shadow: inset 1px 0 3px 3px #c8c8c8;
  opacity: 1;
}
.upperMenu > div > span {
  margin-left: -12px;
  margin-right: 12px;
}
span.maximize {
  cursor: crosshair;
}
span.minimize {
  cursor: zoom-out;
}
span.move {
  cursor: move;
}
.editableObject.open {
  width: initial;
  height: initial;
  border-radius: 3px;
}
.editableObject {
  width: 120px;
  height: 50px;
  overflow: hidden;
  text-indent: 12px;
  border: 1px solid #8e8e8e;
  position: absolute;
  box-shadow: 1px 4px 29px 1px rgba(76, 104, 134, 0.61);
}
.editableObject .fieldWrapper {
  margin-top: 3px;
}
.editableObject .fieldWrapper label {
  min-width: 85px;
  display: inline-block;
  float: left;
  line-height: 39px;
}
.editableObject .fieldWrapper label span.fa {
  margin-left: 12px;
  margin-right: 7px;
}
.editableObject .fieldWrapper input[type="text"] {
  padding: 10px;
  border: solid 1px #c9c9c9;
  box-shadow: inset 0 0 12px 2px #bbbbbb;
  width: 250px;
}
.editableObject .fieldWrapper input[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  position: relative;
  top: 10px;
  left: 12px;
}
.editableObject h4 {
  height: 18px;
}
.editableObject .selectContainer {
  float: left;
  margin-top: 5px;
  margin-left: 25px;
}
.connectContainer {
  display: inline-block;
  float: left;
}
.connectContainer .connectionPoint {
  position: relative;
  right: 12px;
  top: 6px;
}
.connectContainer .connectionPoint:hover {
  color: greenyellow;
}
.contentContainer {
  background: linear-gradient(to right, #b2e1ff 0%, #66b6fc 100%);
  padding: 22px;
}
.eventContainer {
  background: linear-gradient(to bottom, #c3d9ff 0%, #b1c8ef 41%, #98b0d9 100%);
  display: table;
}
h6 {
  height: 18px;
}
.toolkit {
  background: linear-gradient(to right, #efefef 0%, #d6d6d6 100%);
  text-align: center;
  border-bottom: 2px solid #c6c6c6;
}
.topWinOptions {
  border-bottom: 1px solid #a3a3a3;
  background: linear-gradient(to right, #d5e5ed 0%, #88bacf 100%);
  display: block;
  content: '';
  float: left;
  width: 100%;
}
.topWinOptions .winOptions {
  float: right;
}
.topWinOptions .winOptions span {
  font-size: 11px;
  float: right;
  padding: 2px;
  border-left: 1px solid #9e9e9e;
  text-align: center;
  display: block;
  width: 30px;
  text-indent: 2px;
}
svg {
  z-index: 1;
  position: fixed;
  pointer-events: none;
}
(node:5230) DeprecationWarning: util.print is deprecated. Use console.log instead.
